.blob {
  position: absolute;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  mix-blend-mode: color-dodge;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.blob:hover {
  -webkit-filter: blur(70px);
          filter: blur(70px);
  box-shadow:
    inset 0 0 0 5px rgba(255,255,255, 0.6),
    inset 100px 100px 0 0px #fa709a,
    inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}

.blob-1 {
  width: 500px;
  height: 500px;
  background: linear-gradient(
    180deg,
    rgba(47, 184, 255,0.42) 31.77%,
    #5c9df1 100%
  );
  -webkit-animation: move1 25s infinite alternate;
  animation: move1 25s infinite alternate;
}

.blob-2 {
  width: 300px;
  height: 300px;
  background: linear-gradient(
    180deg,
    #5c9df1 31.77%,
     rgba(47, 184, 255,0.42) 100%
  );
  -webkit-animation: move2 35s infinite alternate;
  animation: move2 35s infinite alternate;
}

.blob-1:hover {
  width: 520px;
  height: 520px;
}

.blob-2:hover {
  width: 320px;
  height: 320px;
}

@-webkit-keyframes move1 {
  from {
    transform: translate(400px, 400px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(-100px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move1 {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(400px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}


@-webkit-keyframes move2 {
  from {
    transform: translate(-300px, 300px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(300px, 500px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move2 {
  from {
    transform: translate(-600px, 400px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(300px, 500px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
