@import './../../styles/blobs.css';

.custom-background {
  background: linear-gradient(to bottom, #283857 0%, #0e1727 90%);
}

.hero-background {
  background-image: radial-gradient(rgba(56,117,252,0.65) 0%, transparent 50%);
}


.card-background {
  background-image: linear-gradient(135deg, rgba(40, 56, 87,0.4) 0%, rgba(27, 40, 64, 0.3) 100%);
  border: 3px solid rgba(27, 40, 64, 0.8);
}

